@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

p.message-status {
	font-size: 16px;
	font-weight: 500;
}

.button {
	margin-bottom: 20px;
	margin-left: 10px;
}

.winner-message {
	padding: 20px;
	background: #cba6f7;
	border-radius: 16px;
	box-shadow: #cba6f7 6px 2px 16px 0px, #f38ba8 -6px -2px 16px 0px;
}

button {
	background: var(--ctp-latte-base);
	padding: 6px 32px;
	border-radius: 26px;
	font-weight: normal;
	cursor: pointer;
	font-size: 1em;
	color: #cba6f7;
	border: none;

	margin-bottom: 20px;
	margin-left: 10px;
}

button:hover {
	background: linear-gradient(0.15turn, #165f7e, #587442, #6c3f10);
}
