.board {
  padding: 20px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  background: var(--ctp-macchiato-base);
  border-radius: 26px;
  box-shadow: #cba6f7 0px 7px 29px 0px;
}