button {
  background: var(--ctp-macchiato-base);
  padding: 6px 32px;
  border-radius: 26px;
  font-weight: normal;
  cursor: pointer;
  font-size: 1em;
  color: var(--ctp-mocha-text);
  border: none;
}

button:hover {
  background: linear-gradient(0.15turn, #165f7e, #587442, #6c3f10);
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.header-container {
  flex: 1;
  max-width: 100%;
  background: var(--ctp-macchiato-base);
  padding: 10px;
  border: none;
  border-radius: 16px;
  margin-bottom: 20px;
  justify-content: center;


}
